@charset "UTF-8";
*{
	overflow: visible;
}

section{
	clear:both;
	width: 100%;
	min-height: 900px;
	box-sizing: content-box;
	
}

section div{
	margin-bottom: 20px;
	float: none;
	
}
select{
	width:100%;
	height: 30px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin-bottom: 15px;
}
.signUp_1{
	width: 1200px;
	height: 326px;
	margin: auto;
	border-bottom: 1px solid #d6d6d6;
}

.up_1_1{
	width: 490px;
	height: inherit;
	background-color: white;
	margin: auto;
}
#up_1_p1{
	text-align: center;
	color: black;
}
#up_1_p1 a:hover{
	font-weight: bold;
	font-size: 1.08em;
}
.up_1_1 p{
	color: black;
	font-size: 13px;
	font-weight:bold;
	color: #666666;
}
.up_1_1 a{
	color: #0070c9;
	text-decoration: none;
	
}
.up_1_1 a:hover{
	color: #0070c9;
	font-weight: bold;
	text-decoration: underline;
}

.up_1_i1{
	width: 49%;
	height: 55px;
	margin:auto;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}
.up_1_i2{
	width: 49%;
	height: 55px;
	margin:auto;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}

#up_1_2{
	
	width:490px;
	margin: 10px auto;
	
}

.up_1_2_i1{
	width:100%;
	height: 30px;
	margin: auto;
	font-size: 18px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	
}


.signUp_2{
	width: 1200px;
	height: auto;
	margin:auto;
	border-bottom: 1px solid #d6d6d6;
}

.up_2_1{
	width: 490px;
	height: inherit;
	line-height: inherit;
}

.up_2_1 input {
	margin-top:20px;
	width: 100%;
	height: 30px;
	font-size: 20px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}

.up_2_1 p{
	margin-top:10px;
	color: #666666;
	font-size: 14px;
	font-weight: bold;	
}

.signUp_3{
	width: 1200px;
	height:auto;
	margin:auto;
}

.up_3_1 select{
	margin-top: 20px;
	border-radius: 5px;
}
.up_3_1{
	width: 490px;
	height: inherit;
	line-height: inherit;
}
.up_3_1 input {
	margin-top:20px;
	width: 100%;
	height: 30px;
	font-size: 20px;
	margin-bottom: 20px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}

.signUp_4{
	width: 1200px;
	height: auto;
	margin:auto;
	border-bottom: 1px solid #d6d6d6;
	color: black;
	
}

.signUp_4 p{
	color: #666666;
	font-size: 12px;
	margin-left: 20px;
}
.up_4_1{
	width: 490px;
	height: auto;
	margin: 20px auto 10px;
	color: black;
}

.up_4_2{
	width: 490px;
	height: auto;
	margin: 10px auto 20px;
	color: black;
}
.signUp_5{
	color: #666666;
	width: 1200px;
	height: auto;
	margin:auto;
	font-size: 12px;
	
}
.up_5_1{
	height: auto;
	width: 490px;
	margin: 20px auto 10px;
}
#sp5_1{
	color:red;
	font-size: 10px;
	opacity: 60%;
	line-height: inherit;
}
#up_5_1_p{
	color: #666666;
}

.up_5_1 a{
	color : #0070c9;
	text-decoration: none;
}

.up_5_1 a:hover{
	color: #0070c9;
	text-decoration: underline;
	font-weight: bold;
}

.button1{
	width: 100px;
	height: auto;
	margin: auto;
}

.up_5_1 button{
	background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #0070c9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
footer{
	position:relative;
	clear: both;
	margin-top: 10px;
}
/* 스크립트 css ****************************************/
#id_ck_p{
	color: rgba(255,0,0,0.7);
	font-size: 11px;
}
#pw_ck_p{
	color: rgba(255,0,0,0.7);
	font-size: 11px;
}
#pw_ck2_p{
	color: rgba(255,0,0,0.7);
	font-size: 11px;
}
#ph_ck_p{
	color: rgba(255,0,0,0.7);
	font-size: 11px;
}
#em_ck_p{
	color: rgba(255,0,0,0.7);
	font-size: 11px;
	margin-bottom: 15px;
}
#name_ck2{
	color: rgba(255,0,0,0.7);
	font-size: 11px;
}
#id_bt{
	background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #0070c9;
    color: white;
    font-size: 13px;
    font-weight: bold;
	
}






